

<div class="my-navSection">

  <div class="profile-pic">
    <img class="dp" src="./assets/user.png" alt="">
    <!--<span class="fsz-sm c-grey-900">John Doe</span>-->
  </div>



</div>

<div class="sidenav">
  <div class="same-to-top-nav">

  </div>
</div>


<div class="center-pane">

  <div class="row top-buttons">
    <!--<div class="top-buttons">-->
      <div class="col-2">
        <div class="card tbuttons">
          <div class=" top-bt-content">
           History
            <span style="margin-left: 68px" >
               <img class="top-dps" src="./assets/user.png" alt="">
            </span>
          </div>
          <!--History-->
        </div>
      </div>

    <div class="col-2">
      <div class="card tbuttons">
        <div class=" top-bt-content">
          Followers
          <span style="margin-left: 50px" >
               <img class="top-dps" src="./assets/user.png" alt="">
            </span>
        </div>
        <!--History-->
      </div>
    </div>


    <div class="col-2">
      <div class="card tbuttons">
        <div class=" top-bt-content">
          Announce
          <span style="margin-left: 50px" >
               <img class="top-dps" src="./assets/user.png" alt="">
            </span>
        </div>
        <!--History-->
      </div>
    </div>

    <div class="col-2">
      <div class="card tbuttons">
        <div class=" top-bt-content">
          Add Admin
          <span style="margin-left: 40px" >
               <img class="top-dps" src="./assets/user.png" alt="">
            </span>
        </div>
        <!--History-->
      </div>
    </div>

    <!--</div>-->
  </div>

  <div class="row top-row" >

      <!----------------------------------LEFT PANEL ELEMENTS------------------------------->

    <div class=" col-8 left-pane">

      <div class="card announcer">
        <div class="announcer-header">

          <div class="announcer-prof">
            <img class="announcer-dp" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">iBrahim Wickama</span>
          </div>
        </div>
          <div class="container-fluid" style="padding-top: 10px">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.</p>
            <p>  Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>


      <div class="card announcer">
        <div class="announcer-header">

          <div class="announcer-prof">
            <img class="announcer-dp" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">iBrahim Wickama</span>
          </div>
        </div>
        <div class="container-fluid" style="padding-top: 10px">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>


      <div class="card announcer">
        <div class="announcer-header">

          <div class="announcer-prof">
            <img class="announcer-dp" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">iBrahim Wickama</span>
          </div>
        </div>
        <div class="container-fluid" style="padding-top: 10px">
          <p>  Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>


      <div class="card charts">
       <app-charts></app-charts>
      </div>


    </div>




    <!----------------------------------RIGHT PANEL ELEMENTS--------------------------------->

    <div class=" col-4 right-pane">

      <div class="card">

        <div class="todo-header">
          <div class="todo-list-tittle">
            <b>To-Do List</b>
          </div>

          <div class=" btn-group add-input">
            <input type="text" class="form-control" style="height: 99%">
            <button class="btn btn-primary">Add</button>
          </div>
        </div>

        <div class="todo-items">
          <!--Content Here....!-->
          <div class="card added-item">
            <div class="row todo-row">
              <div class="col-10 todo-task">
                Task 1
              </div>
              <div class="col-2 todo-item-icon">
                <div class="btn-group">
                  <span class="icon-spacing"><img class="todo-icon-checked" src="./assets/checked.png" alt=""></span>
                  <span class="icon-spacing" ><img class="todo-icon-delete" src="./assets/delete.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

          <div class="card added-item">
            <div class="row todo-row">
              <div class="col-10 todo-task">
                Task 2
              </div>
              <div class="col-2 todo-item-icon">
                <div class="btn-group">
                  <span class="icon-spacing"><img class="todo-icon-checked" src="./assets/checked.png" alt=""></span>
                  <span class="icon-spacing" ><img class="todo-icon-delete" src="./assets/delete.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>

          <div class="card added-item">
            <div class="row todo-row">
              <div class="col-10 todo-task">
                Task 3
              </div>
              <div class="col-2 todo-item-icon">
                <div class="btn-group">
                  <span class="icon-spacing"><img class="todo-icon-checked" src="./assets/checked.png" alt=""></span>
                  <span class="icon-spacing" ><img class="todo-icon-delete" src="./assets/delete.png" alt=""></span>
                </div>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>


</div>
</div>
