

<div class="my-navSection">

  <div class="profile-pic">
    <img class="dp" src="./assets/user.png" alt="">
    <!--<span class="fsz-sm c-grey-900">John Doe</span>-->
  </div>



</div>

<div class="sidenav">
  <div class="same-to-top-nav">

  </div>
</div>


<div class="center-pane">

  <div class="row top-buttons">
    <!--<div class="top-buttons">-->
      <div class="col-2">
        <div class="card tbuttons">
          <div class=" top-bt-content">
           History
            <span style="margin-left: 38px" >
               <img class="top-dps" src="./assets/user.png" alt="">
            </span>
          </div>
          <!--History-->
        </div>
      </div>

    <div class="col-2">
      <div class="card tbuttons">
        <div class=" top-bt-content">
          Followers
          <span style="margin-left: 30px" >
               <img class="top-dps" src="./assets/user.png" alt="">
            </span>
        </div>
        <!--History-->
      </div>
    </div>


    <div class="col-2">
      <div class="card tbuttons">
        <div class=" top-bt-content">
          Announce
          <span style="margin-left: 30px" >
               <img class="top-dps" src="./assets/user.png" alt="">
            </span>
        </div>
        <!--History-->
      </div>
    </div>

    <div class="col-2">
      <div class="card tbuttons">
        <div class=" top-bt-content">
          Add Admin
          <span style="margin-left: 30px" >
               <img class="top-dps" src="./assets/user.png" alt="">
            </span>
        </div>
        <!--History-->
      </div>
    </div>

    <!--</div>-->
  </div>

  <div class="row" style="padding: 10px">

    <div class=" col-8 left-pane">
      hihihi
    </div>

    <div class=" col-4 right-pane">
      huhuuh
    </div>
  </div>


</div>
