<div class="card content-spacing">

  <div class="todo-header">
    <div class="todo-list-tittle">
      <b>To-Do List</b>
    </div>

    <div class=" btn-group add-input">
      <input type="text" class="form-control" style="height: 99%">
      <div class="btn btn-primary">Add</div>
    </div>
  </div>

  <div class="todo-items">
    <!--Content Here....!-->
    <div class="card added-item">
      <div class="row todo-row">
        <div class="col-10 todo-task">
          Task 1
        </div>
        <div class="col-2 todo-item-icon">
          <div class="btn-group">
            <span class="icon-spacing"><img class="todo-icon-checked" src="./assets/checked.png" alt=""></span>
            <span class="icon-spacing" ><img class="todo-icon-delete" src="./assets/delete.png" alt=""></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card added-item">
      <div class="row todo-row">
        <div class="col-10 todo-task">
          Task 2
        </div>
        <div class="col-2 todo-item-icon">
          <div class="btn-group">
            <span class="icon-spacing"><img class="todo-icon-checked" src="./assets/checked.png" alt=""></span>
            <span class="icon-spacing" ><img class="todo-icon-delete" src="./assets/delete.png" alt=""></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card added-item">
      <div class="row todo-row">
        <div class="col-10 todo-task">
          Task 3
        </div>
        <div class="col-2 todo-item-icon">
          <div class="btn-group">
            <span class="icon-spacing"><img class="todo-icon-checked" src="./assets/checked.png" alt=""></span>
            <span class="icon-spacing" ><img class="todo-icon-delete" src="./assets/delete.png" alt=""></span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
