
/*-------------------------------------------------------
   To-DO LIST COMPONENT CSS
---------------------------------------------------------*/

.todo-header{
  background-color: white;
  height: 40px;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: inline-flex;
}

.todo-list-tittle{
  width: 50%;
  height: 38px;
  padding-left: 5px;
  padding-top: 5px;
}

.add-input{
  width: 60%;
  /*height: 30px;*/
  margin-right: 10px;
}

.todo-items{
  padding: 5px;
}

.added-item{
  height: auto;
  min-height: 45px;
  margin-bottom: 5px;
  background-color: #e9ebee;
}

.added-item:hover{
  background-color: #fcfcfc;
}

.todo-task{
  padding: 8px;
  /*background-color: black;*/
  width: 70%;

}

.todo-item-icon{
  /*background-color: blue;*/
  width: 100%;
  padding-top: 5px;
}

.todo-icon-checked{
  width: 20px;
  height: 20px;
}

.todo-icon-checked:hover{
  width: 25px;
  height: 25px;
}

.todo-icon-delete{
  width: 20px;
  height: 20px;
}

.todo-icon-delete:hover{
  width: 25px;
  height: 25px;
}

.icon-spacing{
  margin-left: 10px;
}

.todo-row{
  margin-left: 0px;
  margin-right: 0px;
}

