<div class="card content-spacing">
  <div class="data-entry-header">
    <div class="data-entry-title">
      <b>Data Entry</b>
    </div>
    <div class="data-entry-cancel-btn-holder"><img class="data-entry-cancel-btn" src="./assets/cancel-button.png" alt=""></div>
  </div>

  <div class="data-entry-section">
    <div class="data-entry-init-btns">
      <div class="row data-entry-row-holder">
        <div class="data-entry-btns-pos">
          <button class="btn btn-primary">New Round</button>
          <button class="btn btn-warning">Continue</button>
          <button class="btn btn-danger">Close Round</button>
        </div>



        <div class="data-entry-inputs">
          <input list="browsers" name="myBrowser" class="data-entry-usr-input" placeholder="Search Follower" />

          <datalist id="browsers">
            <option value="Chrome">
            <option value="Firefox">
            <option value="Internet Explorer">
            <option value="Opera">
            <option value="Safari">
            <option value="Microsoft Edge">
          </datalist>

          Tsh
          <input type="number" class="data-entry-usr-cash-input" placeholder="Cash">

          <button class="btn btn-success">Save</button>

        </div>










      </div>
    </div>
  </div>

</div>
