<div class="wrapper">
  <div class="container">
    <h1>Sign Up</h1>

    <form class="form" >
      <input type="text" placeholder="First name">
      <input type="text" placeholder="surname">
      <input type="number" placeholder="Phone">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="Repeat Password">
      <button type="submit" (click)="loginClick()" id="singUp-button">Sign Up</button>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
