<div class="card sidespacing">
  <div class="profile-header">
    <div class="profile-title">
      <b>Profile</b>
    </div>
    <div class="prof-cancel-btn-holder"><img class="profile-cancel-btn" src="./assets/cancel-button.png" alt=""></div>
  </div>
  <div class="user-profile">
    <div style="text-align: center;margin-top: 90px;font-size: 20px">Profile Coming Soon</div>
  </div>
  <div class="profile-section">
    <div class="row profile-top-buttons-row">



      <div class="btn-group profile-top-buttons">
        <div class="profile-tab1"><div class="profile-tab-content">About</div> </div>
        <div class="profile-tab2"><div class="profile-tab-content">Details</div> </div>
        <div class="profile-tab3"><div class="profile-tab-content">History</div> </div>
      </div>



    </div>

    <div style="text-align: center;height: 100px; background-color: #e9ebee; font-size: 18px">To be Continued...</div>

  </div>
</div>
