<div class="card content-spacing">
  <div class="add-apt-header">
    <div class="add-apt-title">
      <b>Add Apartment</b>
    </div>
    <div class="add-apt-cancel-btn-holder"><img  class="add-apt-cancel-btn" src="./assets/cancel-button.png" alt=""></div>
  </div>

  <div class="add-apt-section">
    <div  class="add-apt-init-btns">
      <div class="row add-apt-row-holder">
        <div   class="add-apt-btns-pos">
          <button class="btn btn-primary">New Round</button>
          <button  class="btn btn-warning">Continue</button>
          <button class="btn btn-danger">Close Round</button>
        </div>



        <div  class="add-apt-inputs">
          <input list="users" name="myUsers" class="add-apt-usr-input" placeholder="Region" />
          <input list="users" name="myUsers" class="add-apt-usr-input" placeholder="Region" />
          <input list="users" name="myUsers" class="add-apt-usr-input" placeholder="Region" />

          <datalist id="users">
            <option value="Ibrahim Wickama">
            <option value="Yusuph Wickama">
            <option value="Marwa Wickama">
            <option value="Abuu Kowero">
            <option value="James Nyambalia">
            <option value="Mariam">
          </datalist>


          <button class="btn btn-success">Save</button>

        </div>


      </div>
    </div>
  </div>

</div>
