<div class="wrapper">
  <div class="container">
    <h1>Welcome</h1>

    <form class="form" name="formLogin" >
      <input type="text" placeholder="Username" name="username" [(ngModel)]="username" >
      <!--<input type="text" placeholder="Username" [(ngModel)]="username" (input)="listenUsername($event)">-->
      <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
      <button type="submit" (click)="loginClick()" id="login-button">Login</button>

        <div style="margin-top: 70px">
          <button type="button" (click)="signUpClick()" class="signUp-button">Sign Up</button>
        </div>
    </form>

  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
