
/*-------------------------------------------------------
   ADD ADMIN COMPONENT CSS
---------------------------------------------------------*/

.add-admin-header{
  background-color: white;
  height: 40px;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: inline-flex;
}

.add-admin-tittle{
  width: 50%;
  height: 38px;
  padding-left: 5px;
  padding-top: 5px;
}

.admin-cancel-btn-holder{
  width: 30px;
  margin-left: 220px;
}

.admin-cancel-btn{
  width: 20px;
  height: 20px;
}

.admin-cancel-btn:hover{
  width: 25px;
  height: 25px;
}

.add-admin-section{
  padding: 5px;
}

.admin-to-add{
  height: auto;
  min-height: 45px;
  margin-bottom: 5px;
  background-color: #fcfcfc;
}

.admin-to-add:hover{
  background-color: #e9ebee;
}

.add-admin-row{
  margin-left: 0px;
  margin-right: 0px;
}

.admin-user{
  padding: 8px;
  width: 70%;
}

.admin-add-icon{
  width: 100%;
  padding-top: 5px;
}

.admin-user-prof{
  /*height: 150px;*/
  width: auto;
  margin-left: 1px;
}

.admin-user-icon{
  width: 30px;
  height: 30px;
}
