<div class="card content-spacing">
  <div class="add-admin-header">
    <div class="add-admin-tittle">
      <b>Add Admin</b>
    </div>
    <div class="admin-cancel-btn-holder"><img class="admin-cancel-btn" src="./assets/cancel-button.png" alt=""></div>
  </div>

  <div class="add-admin-section">

    <div class="card admin-to-add">
      <div class="row add-admin-row">
        <div class="col-10 admin-user">
          <div class="admin-user-prof">
            <img class="admin-user-icon" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">iBrahim Wickama</span>
          </div>
        </div>
        <div class="col-2 admin-add-icon">
          <button class="btn btn-success">Add</button>
        </div>
      </div>
    </div>


    <div class="card admin-to-add">
      <div class="row add-admin-row">
        <div class="col-10 admin-user">
          <div class="admin-user-prof">
            <img class="admin-user-icon" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">Yusuph Wickama</span>
          </div>
        </div>
        <div class="col-2 admin-add-icon">
          <button class="btn btn-success">Add</button>
        </div>
      </div>
    </div>


    <div class="card admin-to-add">
      <div class="row add-admin-row">
        <div class="col-10 admin-user">
          <div class="admin-user-prof">
            <img class="admin-user-icon" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">Marwa Wickama</span>
          </div>
        </div>
        <div class="col-2 admin-add-icon">
          <button class="btn btn-success">Add</button>
        </div>
      </div>
    </div>


    <div class="card admin-to-add">
      <div class="row add-admin-row">
        <div class="col-10 admin-user">
          <div class="admin-user-prof">
            <img class="admin-user-icon" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">Abuu Kowero</span>
          </div>
        </div>
        <div class="col-2 admin-add-icon">
          <button class="btn btn-success">Add</button>
        </div>
      </div>
    </div>


    <div class="card admin-to-add">
      <div class="row add-admin-row">
        <div class="col-10 admin-user">
          <div class="admin-user-prof">
            <img class="admin-user-icon" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">James Nyambalia</span>
          </div>
        </div>
        <div class="col-2 admin-add-icon">
          <button class="btn btn-success">Add</button>
        </div>
      </div>
    </div>


    <div class="card admin-to-add">
      <div class="row add-admin-row">
        <div class="col-10 admin-user">
          <div class="admin-user-prof">
            <img class="admin-user-icon" src="./assets/user.png" alt="">
            <span class="fsz-sm c-grey-900">Mariam </span>
          </div>
        </div>
        <div class="col-2 admin-add-icon">
          <button class="btn btn-success">Add</button>
        </div>
      </div>
    </div>

  </div>
</div>
