<div class="card content-spacing">
  <div class="announce-header">
    <div class="announce-tittle">
      <b>Announce to Followers</b>
    </div>
    <div class="announce-cancel-btn-holder"><img class="announce-cancel-btn" src="./assets/cancel-button.png" alt=""></div>
  </div>

  <div class="announce-section">
    <input type="text" class="announce-input">
    <button class="btn btn-outline-primary">
      <img class="anc-send-icon" src="./assets/announce.png" alt="">
    </button>
  </div>
</div>
